# Python
__pycache__/
*.pyc
*.pyo

# VSCode
.vscode/

# Environment
venv/
.env

# Images
*.jpg
*.jpeg
*.png
*.bmp
*.webp

# Videos
*.mp4
*.avi
*.mov
*.mkv

# Logs
*.log
debug_log.txt

# Output
damage_detection_results/
runs/
results/
*.tmp